pyrogram==2.0.106
tgcrypto
flask
moviepy
aiogram
instaloader
pytz
instagrapi>=1.16.30
Pillow==9.1.1
requests==2.31.0
urllib3==2.0.3
yt-dlp>=2025.02.19
ffmpeg-python
ffmpeg
motor
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
